.translation__container {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Share Tech Mono', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: #999999
  ; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.translation__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: absolute;
  margin-top: 7rem;
  z-index: 20;
}

.translation__outsider__container__cards {
  margin-top: 3em;
}

.translation__select, .translation__button, .translation__input {
  border: 1px white solid;
  border-radius: 5px;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1em;
  padding: 5px;
  margin-left: 1rem;
}

.translation__button {
  background-color: white;
  color: black;
  border: none;
}

.translation__container__cards {
  position: relative;
  width: 1000px;
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}

.translation__cards {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid black 3px;
}

.translation__container__cards .translation__cards {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.translation__container__cards .translation__cards:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 20;
  pointer-events: none;

}

.translation__container__cards .translation__cards:nth-child(1),
.translation__container__cards
  .translation__cards:nth-child(1)
  .translation__overlay {
  background: white;
}

.translation__container__cards .translation__cards:nth-child(2),
.translation__container__cards
  .translation__cards:nth-child(2)
  .translation__overlay {
  background: white;
}

.translation__container__cards .translation__cards:nth-child(3),
.translation__container__cards
  .translation__cards:nth-child(3)
  .translation__overlay {
    background: white;
}

.translation__container__cards .translation__cards .translation__imgBx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translation__container__cards .translation__cards.translation__imgBx h2 {
  margin: 10px;
  padding: 0;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.translation__container__cards .translation__cards .translation__overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
}

.translation__container__cards .translation__cards .translation__overlay:hover {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border-radius: 15px;
  opacity: 1;
  background-color: white;
}

.translation__container__cards
  .translation__cards
  .translation__overlay:before {
  /* content: 'Read';  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
}

.translation__container__cards
  .translation__cards
  .translation__overlay:hover:before {
  display: none;
  transition-delay: 0s;
}

.translation__container__cards .translation__cards .translation__content {
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  color: #fff;
}

.translation__container__cards
  .translation__cards
  .translation__overlay:hover
  ~ .translation__content {
  opacity: 1;
  background-color: black;
  visibility: visible;
  transition: 0.2s;
  transition-delay: 0.5s;
}
.translation__container__cards .translation__cards .translation__content h2 {
  margin: 0;
  padding: 0;
}

.translation__content {
  font-size: 40px;
  color: white;
}

.translation__img {
  height: 100px;
}
