.new__deck__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Share Tech Mono', sans-serif;
  background: #999999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.new__deck__card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 350px;
  border: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #838383;
  padding: 40px;
  background-color: white;
}

.new__deck__name__input {
  margin-bottom: 20px;
}

.new__deck__heading {
  font-size: 3em;
  margin-bottom: 20px;
}

.new__deck__form__label {
  padding-bottom: 10px;
}

.new__deck__form__input__container {
  display: flex;
  padding-bottom: 10px;
}

.new__deck__form__input {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1.2em;
  width: 100%;
  padding: 10px;
}

.new__deck__language__input__left {
  flex: 1;
  margin-right: 2px;
}

.new__deck__language__input__right {
  flex: 1;
  margin-left: 2px;
}

.new__deck__language__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new__deck__button__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.save__deck__button {
  position: absolute;
  left: 0;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.add__word__button {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.new__deck__words {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new__deck__word {
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px black solid;
  background-color: lightgray;
}

span {
  font-size: 0.9em;
}

.delete__button {
  border: 0px;
  background-color: lightgray;
  font-size: 0.7em;
  cursor: pointer;
}
