.friends__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Share Tech Mono', sans-serif;
  background: #999999
  ; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.friends__container__columns {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
}

.friends__column {
  margin-top: 40px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  height: 80vh;
}
