.deck__management__container {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Share Tech Mono', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* perspective: 1000px; */
  background: #999999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* overflow-y: scroll; */
}

.deck__list__container {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow-y: scroll;
  margin-left: 2em;
}

.deck__list {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
}

.deck__item {
  border: solid black 4px;
  box-shadow: 0px 0px 20px #838383;
  position: relative;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  width: 17vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.info__logo {
  width: 1em;
  margin-left: 0.2em;
}

.deck__item:hover {
  background-color: whitesmoke;
}

.deck__item__create__new__deck {
  flex: 1;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid rgb(10, 10, 10);
}

.deck__item__get__friends__deck {
  width: 100%;
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.deck__item__create__new__deck__logo {
  width: 5em;
  margin-top: 1em;
  transition: ease-in-out 0.6s;
}

.deck__item__create__new__deck__logo:hover {
  transform: scale(1.5);
}

.deck__delete__button {
  display: flex;
  flex: 0.5;
  align-self: flex-end;
  position: relative;
}

.delete__button__logo {
  width: 1.5em;
  margin: 0.4em;
  cursor: pointer;
}

.delete__button__logo:hover {
  transform: scale(1.1);
}

.confirm__delete {
  background-color: white;
  border: solid black 3px;
  border-radius: 15px;
  width: 20em;
  height: 8em;
  position: absolute;
  z-index: 9;
  padding: 1em;
}

.confirm__delete__choice {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: space-around;
}

.deck__name {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.deck__name__title {
  font-size: 2em;
  margin-bottom: 1em;
}

.deck__number__of__cards {
  flex: 1;
  text-align: center;
}

.deck__add__new__card {
  flex: 1;
  text-align: center;
}

.update__deck__container {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck__update__logo {
  width: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}

.deck__update__logo:hover {
  transform: scale(1.2);
}

.deck__username {
  flex: 1;
  text-align: center;
  font-size: 1.5em;
}

.privacy__info {
  font-size: 15px;
  color: rebeccapurple;
  margin: 1em;
}

.start__training__container {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck__start__training__logo {
  width: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}

.deck__start__training__logo:hover {
  transform: scale(1.2);
}

/* ADD NEW CARD POPUP WINDOW */
.card__popup__container {
  position: absolute;
  background-color: white;
  z-index: 2;
  width: 30em;
  height: 20em;
  top: 7%;
  left: -40%;
  border: solid black 4px;
  box-shadow: 0px 0px 20px #838383;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add__word__title {
  font-size: 1.5em;
  margin: 1em;
}

.add__word__input__container  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add__word__input__field {
  margin: 1em;
  width: 15em;
  padding: 1.2em;
}

.add__word__add__button {
  font-size: 1.2em;
  margin-top: 0.8em;
}

.add__word__close__button {
  position: absolute;
  right: 0.5em;
  bottom: 0.3em;
  font-size: 1.3em;
  font-weight: bolder;
}

.blur__it {
  filter: blur(2px);
}

/* UPDATE DECK SECTION */
.sticky__navbar__update__deck {
  position: fixed;
  top: 0;
  width: 100%;
}

.update__deck__container  {
  position: absolute;
  top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  overflow-x: scroll;
}

.card__list__title {
  font-size: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__list {
  position: absolute;
  top: 5em;
  display: flex;
  flex-direction: column;
  border: solid black 4px;
  box-shadow: 0px 0px 20px #838383;
  border-radius: 15px;
  background-color: white;
  padding: 3em;
  align-items: stretch;
  overflow-y: scroll;
  height: 66vh;
}

.card__list__item {
  display: flex;
  margin: 0.5em;
}

.card__word__item {
  width: 20em;
}

.edit__card__logo,
.delte__card__logo {
  width: 1em;
  cursor: pointer;
  margin: 0.2em;
}

.edit__card__logo:hover,
.delte__card__logo:hover {
  transform: scale(1.2);
}

.input__deckmanagement__card {
  padding: 0.5em;
  margin-right: 0.5em;
  width: 5em;
  border: solid black 4px;
  border-radius: 5px;
}

.input__deckmanagement__button {
  padding: 0.5em;
  border: none;
  background-color: white;
  cursor: pointer;
}

.add__word__container__update__deck {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  border-top: solid black 4px;
  margin-bottom: 2em;
  padding: 2em;
}

.add__word__input__field__update__deck {
  width: 5em;
  margin: 0.5em;
  padding: 1em;
  border: solid black 2px;
  border-radius: 5px;
}

.add__word__button__update__deck__add__container {
  display: flex;
}

.add__word__button__update__deck__add {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border-style: none;
  cursor: pointer;
}

.update__deck__title__input {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 0.7em;
  width: 70%;
  padding: 10px;
}
