.wrapper__training__page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Share Tech Mono', sans-serif;
  background: #999999
  ; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #c2afc2,
    #999999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.training__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.training__container::-webkit-scrollbar {
  display: none;
}

.training__card__container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.training__card__outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.training__card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70vw;
  /* height: 70vh; */
  min-height: 400px;
  perspective: 1000px;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 80px #838383;
  }
  25% {
    box-shadow: 0px 0px 20px #838383;
  }
  50% {
    box-shadow: 0px 0px 20px #838383;
  }
  100% {
    box-shadow: 0px 0px 80px #838383;
  }
}

.training__card__inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  border: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  animation: pulse 10s infinite;
  transform: rotateY(0);
}

.training__card__inner:hover {
  cursor: pointer;
}

.training__card__is__flipped .training__card__inner {
  transform: rotateY(-180deg);
  transition: transform 1.5s;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.training__card__is__flipped .flag__front {
  transform: rotateY(-180deg);
  transition: transform 1.5s;
}

.training__card__front,
.training__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
}

.training__card__front {
  border-radius: 15px;
  background-color: white;
}

.training__card__back {
  border-radius: 15px;
  background-color: white;
  transform: rotateY(-180deg);
}

.training__card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5em;
}

.carousel__button {
  background-color: transparent;
  border: none;
  outline: transparent;
}

.carousel__button:hover {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  cursor: pointer;
}

.arrow {
  height: 20px;
  border-radius: 50%;
  padding: 0.7rem;
  margin: 1rem 5rem 1rem 5rem;
}

.arrow__hide {
  height: 20px;
  border-radius: 50%;
  padding: 0.7rem;
  margin: 1rem 5rem 1rem 5rem;
  visibility: hidden;
}

.left__arrow {
  transform: rotate(180deg);
}

.right__arrow {
  transform: rotate(0deg);
}

.progress__container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 550px;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: black;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.flag {
  position: absolute;
  padding-right: 10px;
  width: 70px;
  bottom: 0;
  right: 0;
}

.speaker__container {
  position: absolute;
  top: 0;
  right: 0;
}

.speaker {
  margin-top: 3px;
  width: 40px;
  height: 40px;
}

.speaker:hover {
  cursor: pointer;
}

.training__card__input__outer {
  display: flex;
  align-items: center;
  width: 800px;
  height: 200px;
}

.training__card__input__container {
  position: relative;
  margin-top: 80px;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  animation: pulse 10s infinite;
  overflow: hidden;
}

.training__card__input {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 2em;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
}

.tick__image {
  position: absolute;
  top: 0;
  right: 0;
}

.empty__deck__warning {
  text-align: center;
  font-size: 5em;
}
